html {
    display: flex;
    justify-content: center;
    min-height: 100vh; 
    margin: 0;

}

body {
    margin: 0;
    width: 100%;
    max-width: 1400px;
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: repeat(6, 1fr);
    grid-template-areas: 
    'header header header header header header'
    'aside aside main main main main'
    'aside aside main main main main'
    'aside aside main main main main'
    '. . main main main main'
    'footer footer footer footer footer footer';
}

header {
    height: 150px;
    width: 100%;
    grid-area: header;
    background-color: white;
    position: sticky;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header__container {
    background-color: rgb(22, 147, 230)  ;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (1000px < width) {
    aside {
        height: calc(100vh - 150px);
        top: 150px;
        position: sticky;
        align-self: start;
        grid-area: aside;
        padding-top: 10%;

        h3{
            padding: 0;
            margin: 0 0 0 1rem;
        }

        .talen {
            margin-top: 1rem;
        }

        ul {
            margin: 0 0 0 1rem;
        }
        label {
            display: flex;
            background-color: rgb(22, 147, 230);
            width: 100%;
            height: 4rem;
            h2 {
                margin-left: 2rem;
            }
        }
    }
}

#personalia, .talen, .frontend, .backend {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 
    'h2 h2'
    'list_vr list_ant'
    'list_vr list_ant';
}

.side__list {
    padding: 15px;
    list-style: none;
    grid-area: list_vr;
}

.side-list-ant {
    padding: 15px;
    list-style: none;
    grid-area: list_ant;
}

main {
    grid-area: main;
    padding-top: 5%;

    p {
        margin: 1.5rem;
    }
}

label:not(.main_label2) {
    display: flex;
    background-color: rgb(22, 147, 230);
    width: 100%;
    height: 4rem;
    h2 {
        margin-left: 2rem;
    }
}   

label {
    display: flex;
    background-color: gray;
    width: 100%;
    h3 {
        margin-left: 2rem;
    }
}

h4 {
    margin-left: 2rem;
}

ul {
    margin: 0 2rem 1rem 2rem;
    padding-top: 0;
}

.functie_tijdspan {
    display: flex;
    justify-content: space-between;
    .tijdspan {
        margin-right: 2rem;
    }
}

footer {
    grid-area: footer;
}

@media (1000px > width) {
    html {
        min-height: 100vh;
        margin: 0;
    }

    body {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-areas: 
        'header'
        'aside'
        'main'
        'footer';
    }

    header {
        position: sticky;
        top: 0;
        grid-area: header;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    aside {
        grid-area: aside;
        display: grid;
        grid-gap: 1rem;

        h3{
            padding: 0;
            margin: 0 0 0 1rem;
        }

        .talen {
            margin-top: 1rem;
        }

        ul {
            margin: 0 0 0 1rem;
        }

        label {
            display: flex;
            background-color: rgb(22, 147, 230);
            width: 100%;
            height: 4rem;
            h2 {
                margin-left: 2rem;
            }
        }
    }

    main {
        ul {
            list-style-position: outside;
            padding: 0 1rem 0 1rem;
            margin-top: 0;
        }
    }

    footer {
        grid-area: footer;
    }
}