html {
    display: flex;
    justify-content: center;
    min-height: 100vh; 
    margin: 0;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
    background-image: url(./icons/cornedered-stairs.svg);
    background-size: cover;
}

body {
    margin: 0;
    width: 100%;
    max-width: 1400px;
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: repeat(6, 1fr);
    grid-template-areas: 
    'header header header header header header'
    'aside aside main main main main'
    'aside aside main main main main'
    'aside aside main main main main'
    '. . main main main main'
    'footer footer footer footer footer footer';
}

header {
    z-index: 999;
    height: 150px;
    width: 100%;
    grid-area: header;
    background-color: white;
    position: sticky;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Farro", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: larger;
}

.header__container {
    background-color: rgb(22, 147, 230)  ;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}

@media (1000px < width ) {
    aside {
        height: calc(100vh - 150px);
        top: 150px;
        position: sticky;
        align-self: start;
        grid-area: aside;
        padding-top: 10%;

        img {
            width: 25px;
        }

        h3{
            padding: 0;
            margin: 0 0 0 1rem;
        }

        .talen {
            margin-top: 1rem;
        }

        ul {
            margin: 0 0 0 1rem;
            display: grid;
            align-items: center;
        }

        label {
            display: flex;
            background-color: rgb(22, 147, 230);
            width: 100%;
            height: 4rem;
            border-radius: 10px 10px 0 0;

            h2 {
                margin-left: 2rem;
            }
        }
    }
}

@media (1270px > height ) {

    aside {
        top: 0;
        position: relative;
    }
}


#personalia, .talen, .frontend, .backend {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 
    'h2 h2'
    'list_vr list_ant'
    'list_vr list_ant';
}

.side__list {
    padding: 15px;
    list-style: none;
    grid-area: list_vr;
}

.side-list-ant {
    margin-left: 0;
    padding: 15px;
    list-style: none;
    grid-area: list_ant;
}

main {
    grid-area: main;
    padding-top: 5%;

    p {
        margin: 1.5rem;
    }
}

label:not(.main_label2, .main_label3) {
    display: flex;
    background-color: rgb(22, 147, 230);
    width: 100%;
    height: 4rem;
    border-radius: 10px 10px 0 0;
    h2 {
        margin-left: 2rem;
    }
}   

.main_label2 {
    display: flex;
    background-color: gray;
    width: 100%;
    border-radius: 0 0 10px 10px;
    h3 {
        margin-left: 2rem;
    }
}

.main_label3 {
    display: flex;
    background-color: gray;
    width: 100%;
    border-radius: 10px 10px 10px 10px;
    h3 {
        margin-left: 2rem;
    }
}

h4 {
    margin-left: 2rem;
}

ul {
    margin: 0 2rem 1rem 2rem;
    padding-top: 0;
}

.functie_tijdspan {
    display: flex;
    justify-content: space-between;
    .tijdspan {
        margin-right: 2rem;
    }
}

footer {
    grid-area: footer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer_container {
    display: grid;
    justify-content: space-evenly;
    align-items: center;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1rem;
}

@media (1000px > width) {
    html {
        min-height: 100vh;
        margin: 0;
    }

    body {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-areas: 
        'header'
        'aside'
        'main'
        'footer';
    }

    header {
        position: sticky;
        top: 0;
        grid-area: header;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    aside {
        grid-area: aside;
        display: grid;
        grid-gap: 1rem;

        img {
            width: 25px;
        }

        h3{
            padding: 0;
            margin: 0 0 0 1rem;
        }

        .talen {
            margin-top: 1rem;
        }

        ul {
            margin: 0 0 0 1rem;
            display: grid;
            align-items: center;
        }

        label {
            display: flex;
            background-color: rgb(22, 147, 230);
            width: 100%;
            height: 4rem;
            h2 {
                margin-left: 2rem;
            }
        }
    }

    main {
        ul {
            list-style-position: outside;
            padding: 0 1rem 0 1rem;
            margin-top: 0;
        }
    }

    footer {
        background-color: grey;
        width: 100%;
        grid-area: footer;
        display: flex;

        .footer_container {
            color: white;
            margin-left: 3rem;
            display: grid;
            justify-content: space-evenly;
            align-items: center;
            grid-template-columns: repeat (2, 1fr);
            grid-gap: 1rem;
        }
    }

}

